<section _ngcontent-c37="" class="farris-grid-toolbar mt-1 mb-1">
    <h5 _ngcontent-c37="" class="mr-auto farris-grid-title">凭证分录<span class="f-cmp-mx">{{viewModel['uiState']['EntryAmount']}}</span></h5>
    <div class="" id="GLAccDocEntry-toolbar">
    <button class="k-button k-flat mr-2 text-right"
    id="GLAccDocEntry-button-add" (click)="viewModel.CreateAccDocEntry1()"
    [disabled]="!viewModel.stateMachine['canAddDetail']">{{'GLAccDocEntry-button-add'|lang:lang}}</button><button
    class="k-button k-flat mr-2 text-right" id="GLAccDocEntry-button-remove"
    (click)="viewModel.DeleteEntryByID1()"
    [disabled]="!viewModel.stateMachine['canRemoveDetail']">{{'GLAccDocEntry-button-remove'|lang:lang}}</button>
    </div>
</section>
<kendo-grid id="dataGrid_GLAccDocEntry" [farrisBindingGridOption]="viewModel.dom['dataGrid_GLAccDocEntry']"
    farrisBindingPath farris-enter-edit [form-group]="viewModel.form" class="flex-fill"
    [farrisEditable]="viewModel.stateMachine['editable']" [selectedKeys]="[]" [kendoGridSelectBy]="'id'"
    [farrisForm]="viewModel.form" [resizable]="true" [scrollable]="true" farrisSort
    [sortable]="{allowUnsort: true, mode: 'multiple'}" (selectedKeysChange)="viewModel.ChangeEntry1()">
    <kendo-grid-column farrisDynamicColumnFormat [field]="col.dataField" [title]="col.caption"
        [hidden]="!col.visible" [width]="col.size && col.size.width || 120"
        *ngFor="let col of viewModel.dom['dataGrid_GLAccDocEntry'].fields">
        <ng-template kendoGridHeaderTemplate><span class="farris-label-text">{{col.caption}}</span><span
                class="farris-label-info text-danger" *ngIf="col.require">*</span></ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-column="column">
            <span [innerHTML]="col.getColumnFormat(dataItem,col)"></span>
        </ng-template>
        <ng-template kendoGridEditTemplate let-formGroup="formGroup" *ngIf="col.editor">
            <textarea class="form-control" id="col.editor.id" kendoTextArea farris-textarea-edit [autoSize]="true"
                [readonly]="col.editor.readonly" [required]="col.editor.require"
                [formControl]="formGroup.get(col.editor.binding.path)"
                *ngIf="col.editor.type==='MultiTextBox'"></textarea>
            <input class="form-control" id="col.editor.id" kendoTextBox [readonly]="col.editor.readonly"
                [required]="col.editor.require" [formControl]="formGroup.get(col.editor.binding.path)"
                *ngIf="col.editor.type==='TextBox'">
            <div class="farris-checkradio-hor" *ngIf="col.editor.type==='CheckBox'">
                <div class="custom-control custom-checkbox"><input class="custom-control-input" id="col.editor.id"
                        type="checkbox" [formControl]="formGroup.get(col.editor.binding.path)"><label
                        class="custom-control-label" for="col.editor.id">&nbsp;</label></div>
            </div>
            <kendo-switch id="col.editor.id" [readonly]="col.editor.readonly"
                [formControl]="formGroup.get(col.editor.binding.path)" *ngIf="col.editor.type==='SwitchField'">
            </kendo-switch>
            <kendo-datepicker id="col.editor.id" [readonly]="col.editor.readonly" [required]="col.editor.require"
                [formControl]="formGroup.get(col.editor.binding.path)" [format]="col.editor.format"
                *ngIf="col.editor.type==='DateBox'"></kendo-datepicker>
            <kendo-numerictextbox id="col.editor.id" [readonly]="col.editor.readonly"
                [required]="col.editor.require" [formControl]="formGroup.get(col.editor.binding.path)"
                *ngIf="col.editor.type==='NumericBox'"></kendo-numerictextbox>
            <kendo-combobox class="form-control" id="col.editor.id" [readonly]="col.editor.readonly"
                [required]="col.editor.require" [formControl]="formGroup.get(col.editor.binding.path)"
                [data]="col.enumData" [textField]="'name'" [valueField]="'value'" [valuePrimitive]="true"
                *ngIf="col.editor.type==='EnumField'"></kendo-combobox>
            <farris-lookup-grid id="col.editor.id" [readonly]="col.editor.readonly" [required]="col.editor.require"
                [formControl]="formGroup.get(col.editor.binding.path)" [data-mapping]="col.editor.mapFields"
                [displayType]="col.editor.displayType" [uri]="col.editor.dataSource && col.editor.dataSource.uri"
                [idField]="col.editor.dataSource && col.editor.dataSource.idField"
                [mapFields]="col.editor.mapFields" [singleSelect]="!col.editor.multiSelect"
                [pageSize]="col.editor.pageSize || 20" [pageIndex]="col.editor.pageIndex || 1"
                [pagination]="!!col.editor.pagination" [textField]="col.editor.textField"
                [valueField]="col.editor.valueField" [dialogWidth]="col.editor.size && col.editor.size.width"
                [dialogHeight]="col.editor.size && col.editor.size.height" [title]="col.editor.dialogTitle || ''"
                [showMaxButton]="!!col.editor.showMaxButton" [showCloseButton]="!!col.editor.showCloseButton"
                [resizable]="!!col.editor.resizable" [buttonAlign]="col.editor.buttonAlign || 'center'"
                [dictPicked]="col.lookupPicked ? accTitleLookupPicked : abstract"
                *ngIf="col.editor.type==='LookupEdit'"></farris-lookup-grid>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column="column">
            <label class="col-form-label m-0 p-0" id="TotalUpper" *ngIf="col.id==='gridField_accTitleID_AccountTitle_Code'">
            <span class="farris-label-text m-0 p-0" style="color:#1a599e">合计:</span></label>
            <label class="col-form-label m-0 p-0" id="TotalUpper" *ngIf="col.id==='gridField_accTitleID_AccountTitle_Name'">
            <span class="farris-label-text m-0 p-0" style="color:#1a599e">{{this.viewModel.uiState['Total']}}</span></label>
            <label class="col-form-label m-0 p-0" id="TotalUpper" *ngIf="col.id==='gridField_creditAmount'">
            <span class="farris-label-text m-0 p-0" style="color:#1a599e">{{this.viewModel.uiState['TotalJF']}}</span></label>
            <label class="col-form-label m-0 p-0" id="TotalUpper" *ngIf="col.id==='gridField_debitAmount'">
            <span class="farris-label-text m-0 p-0" style="color:#1a599e">{{this.viewModel.uiState['TotalDF']}}</span></label>
            <label class="col-form-label m-0 p-0" id="TotalUpper" *ngIf="col.id==='gridField_lendingDirection'">
            <span class="farris-label-text m-0 p-0" style="color:#1a599e">差：{{this.viewModel.uiState['Difference']}}</span></label>
        </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridNoRecordsTemplate>
        <div class="text-center">{{'dataGrid_GLAccDocEntry_norecord'|lang:lang}}</div>
    </ng-template>
</kendo-grid>  