<div class="farris-main-area flex-column farris-overflow-y-hidden">
    <div class="farris-header">
        <div class="navbar p-0"><label class="farris-form-title mr-auto" for="page-header-title"> <span>
                    {{'page-header-title'|lang:lang}}
                </span></label>
            <div class="btn-toolbar" id="page-header-toolbar"><button class="btn btn-secondary f-btn-ml" id="button-add"
                    (click)="viewModel.basicFormViewmodel.AddByType1()"
                    [disabled]="!viewModel.stateMachine['canAdd']">{{'button-add'|lang:lang}}</button><button
                    class="btn btn-secondary f-btn-ml" id="button-edit" (click)="viewModel.Edit1()"
                    [disabled]="!viewModel.stateMachine['canEdit']">{{'button-edit'|lang:lang}}</button><button
                    class="btn btn-secondary f-btn-ml" id="button-look" (click)="LookUp()"
                    [disabled]="!viewModel.uiState['Action2Button']">{{'button-look'|lang:lang}}</button><button
                    class="btn btn-secondary f-btn-ml" id="button-save"
                    (click)="viewModel.basicFormViewmodel.SaveAccDoc1()"
                    [disabled]="!viewModel.stateMachine['canSave']">{{'button-save'|lang:lang}}</button><button
                    class="btn btn-secondary f-btn-ml" id="button-cancel"
                    (click)="viewModel.basicFormViewmodel.CancelAccDoc1()"
                    [disabled]="!viewModel.stateMachine['canCancel']">{{'button-cancel'|lang:lang}}</button><button
                    class="btn btn-secondary f-btn-ml" id="button-delete"
                    (click)="viewModel.basicFormViewmodel.DeleteAccDoc1()"
                    [disabled]="!viewModel.stateMachine['canRemove']">{{'button-delete'|lang:lang}}</button><button
                    class="btn btn-secondary f-btn-ml" id="button-first"
                    (click)="viewModel.basicFormViewmodel.ChangeAccDoc1()"
                    [disabled]="!viewModel.uiState['Action2Button']">{{'button-first'|lang:lang}}</button><button
                    class="btn btn-secondary f-btn-ml" id="button-previous"
                    (click)="viewModel.basicFormViewmodel.ChangeAccDoc3()"
                    [disabled]="!viewModel.stateMachine['canLook']">{{'button-previous'|lang:lang}}</button><button
                    class="btn btn-secondary f-btn-ml" id="button-next"
                    (click)="viewModel.basicFormViewmodel.ChangeAccDoc2()"
                    [disabled]="!viewModel.stateMachine['canLook']">{{'button-next'|lang:lang}}</button><button
                    class="btn btn-secondary f-btn-ml" id="button-last"
                    (click)="viewModel.basicFormViewmodel.ChangeAccDoc4()"
                    [disabled]="!viewModel.uiState['Action2Button']">{{'button-last'|lang:lang}}</button></div>
        </div>
    </div>
    <div class="flex-fill farris-split-section f-cmp-px d-flex flex-column">
        <form
            class="farris-form farris-form-controls-inline d-flex flex-wrap f-split-border-b farris-card-section f-cmp-mx-minus">
            <div class="col-3">
                <div class="farris-group-wrap">
                    <div class="form-group farris-form-group"><label class="col-form-label"
                            title="{{'accSet'|lang:lang}}" for="accSet"><span
                                class="farris-label-text">{{'accSet'|lang:lang}}</span><span
                                class="farris-label-info text-danger">*</span></label>
                        <div class="farris-input-wrap">
                            <farris-lookup-grid id="accSet" [displayType]="'NavTreeList'"
                                [uri]="'root-viewmodel.AccSet'" [idField]="'id'" [singleSelect]="true" [pageSize]="20"
                                [pageIndex]="1" [pagination]="true" [textField]="'name'" [valueField]="'id'" [title]=""
                                [showMaxButton]="true" [showCloseButton]="true" [resizable]="true"
                                [(UIStateBinding)]="viewModel['uiState']['AccSet']" name="accSet"
                                [dictPicked]="accSetLookupPicked" [readonly]="!viewModel.stateMachine['canConfirm']">
                            </farris-lookup-grid>
                            <div class="farris-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="farris-group-wrap">
                    <div class="form-group farris-form-group"><label class="col-form-label"
                            title="{{'accDocType'|lang:lang}}" for="accDocType"><span
                                class="farris-label-text">{{'accDocType'|lang:lang}}</span><span
                                class="farris-label-info text-danger">*</span></label>
                        <div class="farris-input-wrap">
                            <farris-lookup-grid id="accDocType" [displayType]="'List'"
                                [uri]="'root-viewmodel.AccDocType'" [idField]="'id'" [singleSelect]="true"
                                [pageSize]="20" [pageIndex]="1" [pagination]="true" [textField]="'name'"
                                [valueField]="'id'" [title]="" [showMaxButton]="true" [showCloseButton]="true"
                                [resizable]="true" [(UIStateBinding)]="viewModel['uiState']['AccDocType']"
                                name="accDocType" [readonly]="!viewModel.stateMachine['canConfirm']">
                            </farris-lookup-grid>
                            <div class="farris-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="farris-group-wrap">
                    <div class="form-group farris-form-group"><label class="col-form-label"
                            title="{{'accDocDate'|lang:lang}}" for="accDocDate"><span
                                class="farris-label-text">{{'accDocDate'|lang:lang}}</span><span
                                class="farris-label-info text-danger">* </span></label>
                        <div class="farris-input-wrap">
                            <kendo-datepicker class="form-control k-widget k-datepicker k-header" id="accDocDate"
                                [format]="'yyyy-MM-dd'" [readonly]="!viewModel.stateMachine['canConfirm']" required
                                [(ngModel)]="viewModel['uiState']['AccDocDate']" name="accDocDate"></kendo-datepicker>
                            <div class="farris-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none">
                <div class="farris-group-wrap">
                    <div class="form-group farris-form-group">
                        <div class="farris-input-wrap">
                            <farris-lookup-grid id="accDoc" #accDocCode [displayType]="'List'" [uri]="'root-viewmodel.AccDocID'"
                                [idField]="'id'" [singleSelect]="true" [pageSize]="20" [pageIndex]="1"
                                [pagination]="true" [textField]="'accDocCode'" [valueField]="'accDocCode'" [title]=""
                                [showMaxButton]="true" [showCloseButton]="true" [resizable]="true"
                                [(UIStateBinding)]="viewModel['uiState']['AccDocID']" name="accDoc"
                                [dictPicked]="accDocLookupPicked"></farris-lookup-grid>
                            <div class="farris-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 text-right"><button class="btn btn-primary ml-auto" id="button-confirm"
                    (click)="viewModel.basicFormViewmodel.AddAccDoc1()"
                    [disabled]="!viewModel.stateMachine['canConfirm']">{{'button-confirm'|lang:lang}}</button></div>
        </form>
        <div class="farris-card-content-bg farris-card-section f-split-border-b">
            <app-basicformcomponent></app-basicformcomponent>
        </div>
        <app-glaccdocentrycomponent class="d-flex flex-column flex-fill"></app-glaccdocentrycomponent>
        <div class="row no-gutters f-split-border-b p-0 m-0">
            <div class="col-2 farris-form-controls-inline">
                <div class="farris-group-wrap">
                    <div class="form-group farris-form-group"><label class="col-form-label"
                            title="{{'total_kjzg'|lang:lang}}" for="total_kjzg"><span
                                class="farris-label-text">{{'total_kjzg'|lang:lang}}</span></label>
                        <div class="farris-input-wrap"><input class="form-control" style="border:none" id="total_kjzg" kendoTextBox
                                [readonly]="true" [(ngModel)]="viewModel['uiState']['AccManager']"
                                name="total_kjzg">
                            <div class="farris-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 farris-form-controls-inline">
                <div class="farris-group-wrap">
                    <div class="form-group farris-form-group"><label class="col-form-label"
                            title="{{'name_jz'|lang:lang}}" for="name_jz"><span
                                class="farris-label-text">{{'name_jz'|lang:lang}}</span></label>
                        <div class="farris-input-wrap"><input class="form-control" style="border:none" id="name_jz" kendoTextBox
                                [readonly]="true" [(ngModel)]="viewModel['uiState']['Booker']" name="name_jz">
                            <div class="farris-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 farris-form-controls-inline">
                <div class="farris-group-wrap">
                    <div class="form-group farris-form-group"><label class="col-form-label"
                            title="{{'name_cn'|lang:lang}}" for="name_cn"><span
                                class="farris-label-text">{{'name_cn'|lang:lang}}</span></label>
                        <div class="farris-input-wrap"><input class="form-control" style="border:none" id="name_cn" kendoTextBox
                                [readonly]="true" [(ngModel)]="viewModel['uiState']['Cashier']" name="name_cn">
                            <div class="farris-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 farris-form-controls-inline">
                <div class="farris-group-wrap">
                    <div class="form-group farris-form-group"><label class="col-form-label"
                            title="{{'name_sh'|lang:lang}}" for="name_sh"><span
                                class="farris-label-text">{{'name_sh'|lang:lang}}</span></label>
                        <div class="farris-input-wrap"><input class="form-control" style="border:none" id="name_sh" kendoTextBox
                                [readonly]="true" [(ngModel)]="viewModel['uiState']['Auditor']" name="name_sh">
                            <div class="farris-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 farris-form-controls-inline">
                <div class="farris-group-wrap">
                    <div class="form-group farris-form-group"><label class="col-form-label"
                            title="{{'name_pz'|lang:lang}}" for="name_pz"><span
                                class="farris-label-text">{{'name_pz'|lang:lang}}</span></label>
                        <div class="farris-input-wrap"><input class="form-control" style="border:none" id="name_pz" kendoTextBox
                                [readonly]="true" [(ngModel)]="viewModel['uiState']['Approver']" name="name_pz">
                            <div class="farris-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 farris-form-controls-inline">
                <div class="farris-group-wrap">
                    <div class="form-group farris-form-group"><label class="col-form-label"
                            title="{{'name_zdr'|lang:lang}}" for="name_zdr"><span
                                class="farris-label-text">{{'name_zdr'|lang:lang}}</span></label>
                        <div class="farris-input-wrap"><input class="form-control" style="border:none" id="name_zdr" kendoTextBox
                                [readonly]="true" [(ngModel)]="viewModel['uiState']['Maker']" name="name_zdr">
                            <div class="farris-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-glaccdocassistancecomponent class="d-flex flex-column flex-fill"></app-glaccdocassistancecomponent>
    </div>
</div>