<div class="d-flex flex-wrap col-12 px-0 farris-form-controls-inline farris-form-controls-inline"
    [formGroup]="viewModel.form">
    <div class="d-flex flex-wrap col-12 px-0 farris-form-controls-inline" [formGroup]="viewModel.form">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="farris-group-wrap">
                <div class="form-group farris-form-group"><label class="col-form-label"
                        title="{{'form_accDocDateDisplay'|lang:lang}}" for="form_accDocDateDisplay"><span
                            class="farris-label-text">{{'form_accDocDateDisplay'|lang:lang}}</span><span
                            class="farris-label-info text-danger">* </span></label>
                    <div class="farris-input-wrap">
                        <kendo-datepicker class="form-control k-widget k-datepicker k-header"
                            id="form_accDocDateDisplay" [format]="'yyyy-MM-dd'"
                            [readonly]="!viewModel.stateMachine['editable']" required
                            formControlName="accDocDateDisplay"></kendo-datepicker>
                        <div class="farris-feedback"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="farris-group-wrap">
                <div class="form-group farris-form-group"><label class="col-form-label"
                        title="{{'form_accDocTypeID_VoucherWord'|lang:lang}}" for="form_accDocTypeID_VoucherWord"><span
                            class="farris-label-text">{{'form_accDocTypeID_VoucherWord'|lang:lang}}</span><span
                            class="farris-label-info text-danger">*</span></label>
                    <div class="farris-input-wrap"><input class="form-control" id="form_accDocTypeID_VoucherWord"
                            kendoTextBox [readonly]="true" required formControlName="accDocTypeID_VoucherWord">
                        <div class="farris-feedback"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <div class="farris-group-wrap">
                <div class="form-group farris-form-group">
                    <div class="farris-input-wrap"><input class="form-control" id="form_accDocCodeDisplay" kendoTextBox
                            [readonly]="!viewModel.stateMachine['editable']" required
                            formControlName="accDocCodeDisplay">
                        <div class="farris-feedback"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 text-right">
            <label class="h3 text-danger text-center" style="border:1px solid #F00;width:100px" [ngClass]="{'d-none': !viewModel.bindingData.isAudit || !!viewModel.bindingData.isBook}"><span >
                {{'isAudit'|lang:lang}} 
            </span></label>
            <label class="h3 text-danger text-center" style="border:1px solid #F00;width:100px" [ngClass]="{'d-none': !viewModel.bindingData.cashierID || !!viewModel.bindingData.isAudit}"><span >
                {{'isCashier'|lang:lang}} 
            </span></label>
            <label class="h3 text-danger text-center" style="border:1px solid #F00;width:100px" [ngClass]="{'d-none': !viewModel.bindingData.isBook}"><span>
                 {{'isBook'|lang:lang}} 
            </span></label>
            <label class="h3 text-danger text-center" style="border:1px solid #F00;width:100px" [ngClass]="{'d-none': !viewModel.bindingData.isVoid}"><span>
                 {{'isVoid'|lang:lang}} 
            </span></label>
            <label class="h3 text-danger text-center" style="border:1px solid #F00;width:150px" [ngClass]="{'d-none': !viewModel.bindingData.reasonForNAudit}"><span>
                 {{'noPassAudit'|lang:lang}} 
            </span></label>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="farris-group-wrap">
            <div class="form-group farris-form-group"><label class="col-form-label"
                    title="{{'form_operatorID_Name'|lang:lang}}" for="form_operatorID_Name"><span
                        class="farris-label-text">{{'form_operatorID_Name'|lang:lang}}</span></label>
                <div class="farris-input-wrap">
                    <farris-lookup-grid id="form_operatorID_Name"
                        [data-mapping]="{'id':'operatorID.operatorID','code':'operatorID.operatorID_Code','name':'operatorID.operatorID_Name'}"
                        [displayType]="'List'" [uri]="'GLAccountingDocument.operatorID_Name'" [idField]="'id'"
                        [mapFields]="{'id':'operatorID.operatorID','code':'operatorID.operatorID_Code','name':'operatorID.operatorID_Name'}"
                        [singleSelect]="true" [pageSize]="20" [pageIndex]="1" [pagination]="true" [textField]="'name'"
                        [valueField]="'id'" [title]="" [showMaxButton]="true" [showCloseButton]="true"
                        [resizable]="true" formControlName="operatorID_Name"
                        [readonly]="!viewModel.stateMachine['editable']"></farris-lookup-grid>
                    <div class="farris-feedback"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="farris-group-wrap">
            <div class="form-group farris-form-group"><label class="col-form-label"
                    title="{{'form_numberOfAttch'|lang:lang}}" for="form_numberOfAttch"><span
                        class="farris-label-text">{{'form_numberOfAttch'|lang:lang}}</span></label>
                <div class="farris-input-wrap">
                    <kendo-numerictextbox class="form-control k-widget k-numerictextbox" id="form_numberOfAttch"
                        [format]="'n0'" [readonly]="!viewModel.stateMachine['editable']" [step]="1" [min]="0"
                        formControlName="numberOfAttch"></kendo-numerictextbox>
                    <div class="farris-feedback"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="farris-group-wrap">
            <div class="form-group farris-form-group"><label class="col-form-label"
                    title="{{'form_numberOfNote'|lang:lang}}" for="form_numberOfNote"><span
                        class="farris-label-text">{{'form_numberOfNote'|lang:lang}}</span></label>
                <div class="farris-input-wrap">
                    <kendo-numerictextbox class="form-control k-widget k-numerictextbox" id="form_numberOfNote"
                        [format]="'n0'" [readonly]="!viewModel.stateMachine['editable']" [step]="1" [min]="0"
                        formControlName="numberOfNote"></kendo-numerictextbox>
                    <div class="farris-feedback"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="farris-group-wrap">
            <div class="form-group farris-form-group"><label class="col-form-label"
                    title="{{'form_secretLevelID'|lang:lang}}" for="form_secretLevelID"><span
                        class="farris-label-text">{{'form_secretLevelID'|lang:lang}}</span></label>
                <div class="farris-input-wrap">
                    <kendo-combobox class="form-control" id="form_secretLevelID"
                        [data]='[{"value":"Public","name":"公开"},{"value":"Internal","name":"内部"},{"value":"Secret","name":"秘密"},{"value":"Confidential","name":"机密"}]'
                        [textField]="'name'" [valueField]="'value'" [valuePrimitive]="true"
                        formControlName="secretLevelID" [readonly]="!viewModel.stateMachine['editable']">
                    </kendo-combobox>
                    <div class="farris-feedback"></div>
                </div>
            </div>
        </div>
    </div>
</div>